In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
dataset = pd.read_csv("hubble_data.csv")
dataset

    distance  recession_velocity
0      0.032                 170
1      0.034                 290
2      0.214                -130
3      0.263                 -70
4      0.275                -185
5      0.275                -220
6      0.450                 200
7      0.500                 290
8      0.500                 270
9      0.630                 200
10     0.800                 300
11     0.900                 -30
12     0.900                 650
13     0.900                 150
14     0.900                 500
15     1.000                 920
16     1.100                 450
17     1.100                 500
18     1.400                 500
19     1.700                 960
20     2.000                 500
21     2.000                 850
22     2.000                 800
23     2.000                1090

In [10]:
dataframe = pd.DataFrame(dataset)
dataframe

    distance  recession_velocity
0      0.032                 170
1      0.034                 290
2      0.214                -130
3      0.263                 -70
4      0.275                -185
5      0.275                -220
6      0.450                 200
7      0.500                 290
8      0.500                 270
9      0.630                 200
10     0.800                 300
11     0.900                 -30
12     0.900                 650
13     0.900                 150
14     0.900                 500
15     1.000                 920
16     1.100                 450
17     1.100                 500
18     1.400                 500
19     1.700                 960
20     2.000                 500
21     2.000                 850
22     2.000                 800
23     2.000                1090

In [14]:
maximus = dataframe.max()
maximus

distance                 2.0
recession_velocity    1090.0
dtype: float64

In [15]:
minimum =  dataframe.min()
minimum

distance                0.032
recession_velocity   -220.000
dtype: float64

In [16]:
mean =  dataframe.mean()
mean

distance                0.911375
recession_velocity    373.125000
dtype: float64

In [19]:
new_dataframe = pd.DataFrame([maximus,minimum,mean])
new_dataframe

   distance  recession_velocity
0  2.000000            1090.000
1  0.032000            -220.000
2  0.911375             373.125